<html>
    <head>
        <title>Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>

    <body>
        <h1 class="text-center">Welcome back <span id="welcome"><!--username--></span></h1>
        <div class="container">
            <h2>Your details</h2>
            <p><span id="profile_image"><!--profile image--></span></p>
            <p>Forename: <span id="forename"><!--forename--></span></p>
            <p>Surname: <span id="surname"><!--surname--></span></p>
            <p>Username: <span id="username"><!--username--></span></p>
            <p>Email: <span id="email"><!--email--></span></p>
            <p>Password: ********</p>
            <p>Profile description: <span id="profile_description"><!--profile description--></span></p>
            <a href="../update_details.php" class="btn btn-info" id="edit_details">Edit details</a>
        </div>
        <div class="container">
            <p><span id="own_posts"><!--if writer: own posts--></span></p>
        </div>
        <div class="container">
            <h2>Your favourite posts</h2>
            <p id="favourites"><!--favourite posts--></p>
        </div>
        <div class="container">
            <h2>Follows</h2>
            <p>Followers: <span id="followers"><!--followers--></span></p>
            <p>Members you follow: <span id="followed"><!--followed members--></span></p>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="../controllers/profile.js"></script>
    </body>
</html>