#confirm {
    border: none;
    background-color: white;
    font-size: 22px;
}
#form_container {
    text-align:center;
}
form {
    width:40%;
    display: inline-block;
}
label {
    text-align:right;
}
p {
    font-size: 16px;
}