#about p {
    font-size: 14px;
}
#blogposts {
    width: 100%;
    float: left;
    margin-bottom: 50px;
}
#followers_div {
    width: 100%;
    float: left;
    margin-bottom: 50px;
}
#followers_div p {
    font-size: 14px;
}
#followed_div {
    width: 100%;
    float: left;
    margin-bottom: 50px;
}
#followed_div p {
    font-size: 14px;
}
#no_fav {
    font-size: 14px;
}